<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 align="center">Library Management system</h2>
        <hr>
        <button class="btn btn-primary">
            <a href="/category/list" style="color:white">Category List</a>
        </button>

        <button class="btn btn-primary">
            <a href="/book/list" style="color:white">Book List</a>
        </button>
    </div>
</body>
</html>